<div class="container">

    <div>
        <h1>Eat-Da-Burger!</h1>
    </div>

    <div class="row burgers">
        <div class="col-1"></div>
        <div class="col-5 orderBackground">
            <h2>Your Orders Here!</h2>

            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{!-- {{> burgers/burger-block devoured=false}} --}}
                <h3>{{burger_name}}<span><button id="{{id}}"
                            class="btn btn-success devour-btn">Devour</button></span><span><button id="{{id}}"
                            class="btn btn-info delete-btn">Delete</button></span></h3>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-1"></div>

        <div class="col-5 devouredBackground ">
            <h2>Devoured Burgers</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{!-- {{> burgers/burger-block devoured=true}} --}}
                <h3 burgerText>{{burger_name}}<span><button id="{{id}}"
                            class="btn btn-success undevour-btn">Undevour</button></span><span></span><button
                        id="{{id}}" class="btn btn-info delete-btn">Delete</button></span>
                </h3>
                {{/if}}
                {{/each}}
            </ul>
        </div>
        <div class="col-1"></div>
    </div>
    <div>
        <form class="create-form mt-5">
            <div class="form-group">
                <textarea type="text" id="burger" name="name" placeholder="Burger Name"></textarea>
            </div>
            <button type="submit" class="form-button btn-danger">Add Burger</button>
        </form>
    </div>