<div class="container">
    <div>
        <h1>Coffee Drinks</h1>
        <h2>Hot Coffees</h2>

    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#each drinks}}
        <div class="col">
            <div class="card h-100">
                <img src={{img_url}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">short explianation of product</p>
                    <select class="quantity form-select form-select-sm target" aria-label=".form-select-sm example">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <select class="price form-select form-select-sm target" aria-label=".form-select-sm example">
                        <option value="small-{{price_sm}}" selected>small - ${{price_sm}}</option>
                        <option value="medium-{{price_md}}">medium - ${{price_md}}</option>
                        <option value="large-{{price_lg}}">large - ${{price_lg}}</option>
                    </select>
                    <button class="order-btn btn-primary">Order</button>
                </div>
            </div>
        </div>
        {{/each}}
        {{!-- <div>
            <h2>Cold Coffees</h2>

        </div> --}}

    </div>
    <div>
        <h2>Your Orders Here!</h2>

        <ul id="cart">

        </ul>
        <hr>
        <div>Your Total - $<span id="total"></span></div>

        <button type="submit" class="btn btn-primary place-btn">Place Order</button>
    </div>
</div>